# Database settings
DEBUG = True
USE_DATABASE = True
DATABASE_NAME = "postgres"
DATABASE_USER = "postgres"
DATABASE_PASSWORD = "postgres"
DATABASE_HOST = "postgres"
DATABASE_PORT = 5432
SECRET_KEY = "..."
SERVER_PORT = 8000
ALLOWER_CORS_ORIGINS = "http://localhost,http://localhost:8000"

# Twilio config
TWILIO_ACCOUNT_SID = "..."
TWILIO_AUTH_TOKEN = "..."

# OpenIA config
OPENIA_API_KEY = "..."
